<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/"><i class="fa fa-cutlery" aria-hidden="true"></i> Appetite</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/home/index">Home</a></li>
        <li class="active"><a href="/home/about">About</a></li>
        <li><a href="/home/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-8 text-left"> 
      <h1 id="About">Home#about</h1>
      <p>Find me in app/views/home/about.html.erb</p>
      <img src="/assets/img1.jpg"/>
      <img src="/assets/img2.jpg"/>
      <img src="/assets/img3.jpg"/>
    </div>
  </div>
</div>